.comite__members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0!important;
    row-gap: 40px;
    overflow-x: scroll;
}

.member__sub {
    display: flex;
    align-items: center;
    text-align: center;
    h6 {
        font-size: 1.4rem;
    }
    .member {
        margin: 0 15px;
    }
}
