$linkColorActive: #329e1e;
$titleColor: #329e1e;
$textPrimary: #000;
$textSecondary: #fff;
$bgSecondary: #fff;
$textLight: #b9b9b9;
$bannerColor: #d99827;
$actuTopAsset: rgb(42, 117, 216);
$inputBorder: #e0e0e0;
$bglight: rgba(0, 0, 0, 0.16);
$smallHeader: #f1f1f1;
$footerBg: #b9b9b9;

$smallHeaderHeight: 40px;

$DefaultTextSize: 14px;
$smallHearderTextSize: 14px;
$actuHeaderTextSize: 30px;
$actuSmallTextSize: 12px;
$headerTextSize: 7rem;
$meddiumTextSize: 20px;

$sectionHeaderTextSize: 25px;
$sectionTextSize: 15px;

$mainSpacing: 7.5rem;